.mitracoffee {
  position: relative;

  .container-fluid {
    margin-top: 0;
    height: 1500px;
    max-height: 80vh;
    background-color: $primaryColor;
  }
  .section-header {
    h3 {
      font-size: 36px;
      text-align: center;
      font-weight: 500;
      position: relative;
      padding: 60px 0;
      margin: 0;
    }
  }

  .clients-wrap {
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem 0rem;
    @media (max-width: 760px) {
      justify-content: space-between;
    }
  }

  .client-logo {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    max-width: 200px;
    @media (max-width: 1236px) {
      max-width: 150px;
    }
    @media (max-width: 576px) {
      max-width: 110px;
    }
  }
  @media (max-width: 991.5px) {
    .container-fluid {
      height: 700px;
      max-height: 100%;
    }
  }
  @media (max-width: 760px) {
    .container-fluid {
      height: 800px;
      max-height: 100%;
    }
  }
  @include background;
}
