@mixin background {
    ::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url(/assets/img/logotilt.png);
        background-size: 6rem;
        opacity: .01;
        z-index: -1;
      }
}
@mixin background-1 {
    ::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url(/assets/img/logotilt.png);
        background-size: 6rem;
        opacity: .005;
        z-index: -1;
      }
}