@mixin background {
  ::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/assets/img/logotilt.png);
    background-size: 6rem;
    opacity: 0.007;
    z-index: -1;
  }
}
