#team {
  position: relative;
  .container {
    height: 1500px;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include background;
  }
  .member {
    margin-bottom: 20px;
    text-align: center;
    .pic {
      overflow: hidden;
      text-align: center;
      max-height: 350px;
      img  {
        max-width: 80%;
        width: 180px;
      }
    }
    .picbig {
      overflow: hidden;
      text-align: center;
      max-height: 380px;
      img  {
        max-width: 100%;
        width: 200px;
      }
    }
    .details {
      background-color: $tertiaryColor;
      color: #fff;
      padding: 15px;
      border-radius: 5px 5px 15px 15px;
    }
    .details-bod {
      background-color: $primaryColor;
      color: #fff;
      padding: 15px;
      border-radius: 10px 10px 15px 15px;
    }
    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 1.125rem;
    }
    span {
      font-style: italic;
      display: block;
      font-size: 0.8124rem;
      font-weight: 400;
    }
  }
  

}
